body {
background-image: url("http://gdurl.com/PyRW");
}
img{
  display: block;
  margin-left: auto;
  margin-right:auto;
}
img{
  height: 300px;
}
}
h1{
  text-align: center;
  font-size: 36px;
}
h2{
  text-align: center;
  font-size: 36px;
}
      ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2288ee;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
p{
  text-align: center;
  color: red;
}
